body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    font-size: 50px;
}
span{
    color: rgb(180, 180, 7);
}
.half{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.half img {
    width: 100%;
}
.second{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
   
    height: 500px;
}
